table {
  border-collapse: collapse;
  display: block;
  overflow: auto;
  margin: 1.5em 0;
}

th,
td {
  text-align: left;
  padding: 8px 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #eee;
}

blockquote {
  border-left: 5px solid #ddd;
  // color: #777;
  padding: 0.1em 1em;
  padding-right: 0;
  margin: 1.5em 0;
}

pre {
  background-color: #f6f6f4 !important;
}

code {
  font-family: sans-serif;
  background-color: #f6f6f4;
  padding: 0.1em 0.4em;
}

ul {
  line-height: 1.9;
}
